body{
    margin:0;
    padding:10px;
    min-width:400px;
}
h1{
    color:green;
    padding:10px 50%;
}
input{
    width:100%;
    padding:10px;
    border:2px solid green;
    border-radius:8px;
    font-size:16px;
    margin:10px;
    box-sizing:border-box;
    outline:none;
}

button{
    margin:10px;
    color:white;
    background-color:green;
    border:none;
    padding:6px 15px;
    border-radius:8px;

}
ul{
    margin:12px;
    list-style:none;
    padding-left:0px;
    color:green

}
li{
    margin-top:5px;
}
li a{
    color:rgb(92, 146, 12);
}